@import "assets/styles/style";
:where(.css-dev-only-do-not-override-19a7szb).ant-collapse>.ant-collapse-item >.ant-collapse-header .ant-collapse-expand-icon{
    height: 50px;
}
:where(.css-dev-only-do-not-override-19a7szb).ant-form{
    width: 100%;
}
*{
    flex-wrap: wrap;
    // overflow-x: hidden;
}

:where(.css-dev-only-do-not-override-19a7szb).ant-btn-default {

    margin-left: 5px;
}
:where(.css-dev-only-do-not-override-19a7szb).ant-select-single.ant-select-show-arrow .ant-select-selection-item, :where(.css-dev-only-do-not-override-19a7szb).ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
   
   overflow: hidden;
}
:where(.css-dev-only-do-not-override-19a7szb).ant-form-item .ant-form-item-control-input {
    width: 100%;
}

:where(.css-dev-only-do-not-override-19a7szb).ant-collapse>.ant-collapse-item >.ant-collapse-header {


    align-items: center;
}